<div class="song">
  <div class="song" {{bind-attr data-key=key}}>
    <div class="hgroup clearfix">
      <h2>{{title}}</h2>
      <h3>{{key}}</h3>
    </div>
    <pre class="raw-chord-text" {{bind-attr data-key=key}}>{{text}}</pre>
  </div>

  <button class="action-transpose btn btn-default">Transpose</button>
  {{#link-to "song.edit" controller.model class="btn btn-default"}}Edit{{/link-to}}
  <button class="btn btn-danger btn-xs" {{action "delete"}}>Delete</button>
</div>



